.ad-logout-btn button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    align-content: center;
    padding: 3px 10px 3px 10px;
    border-radius: 9px;
    border: solid 1px #0000ff00;
    color: #0000008f;
    box-shadow: 0px 0px 4px 1px #24242494;

}